/* Allow vertical scrolling on the page generally */
body {
  touch-action: pan-y; 
}

/* Ensure draggable items don't block scrolling unless held */
.draggable-item {
  touch-action: none;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  background-color: #102218; /* background-dark */
  color: white;
}

/* Fix for Material Icons */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.material-symbols-outlined.fill {
  font-variation-settings: 'FILL' 1;
}